@model VB.Models.Vault
<h4 class="text-center">Create new password</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="passwordInput" type="password"  />
                <span asp-validation-for="Password" class="text-danger"></span>
                <button type="button" class="btn btn-default" id="generatePasswordBtn">Generate Password</button>
                <button type="button" class="btn btn-default" id="revealPasswordBtn">Reveal Password</button>
                <button type="button" class="btn btn-default" id="copyPasswordBtn">Copy</button>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control"  />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteName" class="control-label"></label>
                <input asp-for="WebsiteName" class="form-control"  />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById('generatePasswordBtn').addEventListener('click', function () {
            fetch('/Vaults/GeneratePassword')
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Print the response to the console
                    document.getElementById('passwordInput').value = data.password;
                })
                .catch(error => console.error('Error generating password:', error));
        });

        document.getElementById('revealPasswordBtn').addEventListener('click', function () {
            var passwordInput = document.getElementById('passwordInput');
            var revealPasswordBtn = document.getElementById('revealPasswordBtn');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                revealPasswordBtn.textContent = 'Hide Password';
            } else {
                passwordInput.type = 'password';
                revealPasswordBtn.textContent = 'Reveal Password';
            }
        });
        document.getElementById('copyPasswordBtn').addEventListener('click', function () {
            var passwordInput = document.getElementById('passwordInput');
            passwordInput.type = "text"; // Temporarily change to text to copy
            passwordInput.select();
            passwordInput.setSelectionRange(0, 99999); // For mobile devices

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                alert('Copying password was ' + msg);
            } catch (err) {
                console.error('Oops, unable to copy', err);
            }

            
        });
    </script>
}
